//Basic
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  overflow-x: hidden;
  margin: 0;
}
// @media only screen and (max-width: 1600px) {
//   body {
//     font-size: 13px;
//   }
// }
// @media only screen and (max-width: 1200px) {
//   body {
//     font-size: 12px;
//   }
// }
// @media only screen and (max-width: 992px) {
//   body {
//     font-size: 11px;
//   }
// }
  
::selection {
  background: #4ecbdf; /* WebKit/Blink Browsers */
  color: gray;
}
  
*::placeholder {
  color: gray;
}
  
img {
  max-width: 100%;
}
  
svg {
  width: 100%;
  height: 100%;
}
  
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
  
button {
  background-color: transparent;
  padding: 0;
}
  
.row {
  margin: 0;
}
  
* {
  outline: 0;
  box-sizing: border-box;
}
  
button, input, textarea {
  border: none;
}

a, a:hover {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style-type: none;
}